.device-rating_star {
	background: url(../../assets/star1.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 240;
	height: 240;
	font-size: 64;
}
